<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Author-Settings</title>
</head>

<body>
    <!-- Simple Author Setting Page title-->
    <h1>Author Settings</h1>
    <!-- Forms for changing blogtitle and authorname in memory(variable) not database-->
    <form action="/author/updatesettings" method="POST">
        <label for="blogTitle">Blog Title:</label>
        <input type="text" id="blogTitle" name="blogTitle" value="<%= blogTitle %>" required>
        <label for="authorName">Author Name:</label>
        <input type="text" id="authorName" name="authorName" value="<%= authorName %>" required><br>
        <button type="submit">Save Settings</button>
    </form>

    <!-- bottom nav back home -->
    <div class = "backhome" style="text-align: left;">
        <a class="homepage-link" href="/author/author-home">Back to Author Home</a>
    </div>
</body>
</html>
